.site-footer {
    font-size: 14px;
    color: #666;
}

.site-footer a {
    color: #6f42c1;
}

.site-footer a:hover {
    text-decoration: underline;
}
.fixed-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1030;
}

.content-wrapper {
    padding-top: 100px;
    padding-bottom: 100px;
}
