.navbar-brand {
    font-size: 1.4rem;
    color: #6f42c1 !important;
}

.nav-link {
    font-weight: 500;
    margin-left: 15px;
    transition: 0.2s;
}

.nav-link:hover {
    color: #6f42c1 !important;
}

.fixed-top {
    background-color: #ffffffcc;
    backdrop-filter: blur(4px);
    box-shadow: 0 2px 6px rgba(0,0,0,0.05);
}

.navbar .dropdown-menu {
    z-index: 2000;
}
